// // #header{
// // background-image: url(../assets/images/bg-header.jpg);
// // }
// #header {
//     .logo_header img {
//         width: 328px;
//         height: 84px;
//         margin-top: 27px;
//         margin-left: 140px;
//     }

//     .search {
//         padding-top: 77px;
//         padding-right: 137px;
//     }

//     .search .fa-search {
//         padding-right: 35px;
//     }
//  #menu_header{
//      width: 536px;
//      height: 1000px;
//      background:#FFFFFF;
//  }
//     #menu_header form input{
//     border-top: none;
//     border-left: none;
//     border-right: none;
//     width: 360px;
//     flex: none;
//     }

//     #menu_header  .fa-search:before{
//         color: #5D5C5C;
//         font-size: 34px;
//     }
// }

// .fa-search:before {
//     font-size: 44px;
//     color: #FFFFFF;
// }

// .fa-navicon:before,
// .fa-reorder:before,
// .fa-bars:before {
//     font-size: 44px;
//     color: #FFFFFF;
// }
$color_FFF: #fff;

#header {
    background-color: black;
    padding-top: 46px;
    padding-left: 40px;

    span {
        padding-top: 31px;
        padding-right: 137px;

        .fa-bars,
        .fa-search {
            &::before {
                color: $color_FFF;
                font-size: 44px;
            }
        }

        .fa-search {
            padding-right: 35px;
        }
    }
}

#menu {
    display: none;
    top: 0px;
    right: 0%;
    border: 1px solid #000;
    width: 536px;
    height: 1000px;
    background: $color_FFF;
}

#menu {
    div.form_menu {

        padding-top: 52px;
        padding-left: 35px;

        input {
            border-top: none;
            border-left: none;
            border-right: none;
            width: 360px;
            height: 46px;
        }

        .fa-times {
            padding-left: 38px;
        }

        .fa-search {
            position: absolute;
            right: 140px;
        }

        .fa-search,
        .fa-times {
            font-size: 34px;
        }
    }

    div.list_menu {
        padding-top: 132px;
        padding-left: 97px;

        a {
            width: 202px;
            height: 47px;
            color: #5d5c5c;
            font-family: "Segoe UI";
            font-size: 35px;
            font-weight: 600;
        }

        .list-group-item {
            border: none;
        }
    }
    div.lang_menu{
    /* Style for "EN" */
color: #5d5c5c;
font-family: "Segoe UI";
font-size: 30px;
font-weight: 400;
text-transform: uppercase;
    padding-top: 76%;
    padding-left: 77%;
    }
}